body{
	margin: 0px auto;
	background-color: #686868;
}

/*----------------------------------------------Navigation 영역-------------------------------------------------------------*/
.topnav {
	overflow: hidden;
	background-color: #333;
}

.topnav span {
	float: left;
	display: block;
	color: #f2f2f2;
	padding: 5px 4px;
	text-decoration: none;
	font-size: 13px;
}

.topChi div:hover {
	background-color: #ddd;
	color: black;
}

.topnav #menuicon {
	display: none;
	font-size: 15px;
}

.topChi{
	background-color: rgba(3, 3, 3, 0.5);
	padding: 3px;
	margin: 6px 0px 0px -3px;
	width: 200px;
	position: absolute;
	display: none;
	
	index-z: 1;
}

.topChi div{
	padding : 1px;
	margin: 2px 0px 0px 1px ;
	
}


/*---------------------------------------------Section 영역-------------------------------------------------------------*/
